 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>html title</title>
  <style type="text/css" media="screen">
    table{
        background-color: #AAD373;
        empty-cells:hide;
    }
    td.cell{
        background-color: white;
    }
  </style>



<table style="border: blue 1px solid;">

<tbody>
<tr>
<td class="cell">Cell 1.1</td>
<td class="cell">Cell 1.2</td>
</tr>

  <p>
    <a href="http://htmlbook.ru/example/knob.html">Абсолютная ссылка</a>
  </p>
  <h1>
    <a href="{% url 'checked' %}"> unsubcribe </a>
  </h1>
<tr>
<td class="cell">Cell 2.1</td>
<td class="cell"></td>
</tr>

</tbody>
</table>